<div>
  <clr-datagrid>
    <clr-dg-column [style.width.px]="120">Trading Code</clr-dg-column>
    <clr-dg-column>ชื่อการค้า</clr-dg-column>
    <clr-dg-column>เลขที่ใบสั่งซื้อ</clr-dg-column>
    <clr-dg-column>วันที่สั่งซื้อ</clr-dg-column>
    <clr-dg-column>สัญญา</clr-dg-column>
    <clr-dg-column [style.width.px]="140">จำนวน</clr-dg-column>
    <clr-dg-column [style.width.px]="130">ขนาดบรรจุ</clr-dg-column>
    <clr-dg-column [style.width.px]="120">จำนวนรวม</clr-dg-column>
    <clr-dg-column [style.width.px]="120">ราคาต่อแพค</clr-dg-column>
    <clr-dg-column [style.width.px]="120">ราคารวม</clr-dg-column>
    <clr-dg-column [style.width.px]="50">ของแถม</clr-dg-column>

    <clr-dg-row *clrDgItems="let pro of productOrders" [clrDgItem]="pro">
      <clr-dg-cell>{{pro.trading_code}}</clr-dg-cell>
      <clr-dg-cell>{{pro.product_name}}
        <br>({{pro.labeler_name}})</clr-dg-cell>
      <clr-dg-cell *ngIf="pro.purchase_order_book_number == null">{{pro.purchase_order_number}}</clr-dg-cell>
      <clr-dg-cell *ngIf="pro.purchase_order_book_number != null">{{pro.purchase_order_book_number}}</clr-dg-cell>
      <clr-dg-cell>{{pro.order_date | toThaiDate}}</clr-dg-cell>
      <clr-dg-cell class="text-success" style="text-align:right">{{pro.contract_id}}</clr-dg-cell>
      <clr-dg-cell style="text-align:right">{{pro.qty}}</clr-dg-cell>
      <clr-dg-cell style="text-align:right">{{pro.large_unit_name}}({{pro.conversion_qty}} {{pro.small_large_unit_name}})</clr-dg-cell>
      <clr-dg-cell style="text-align:right">{{pro.qty*pro.conversion_qty}} {{pro.small_large_unit_name}}</clr-dg-cell>
      <clr-dg-cell style="text-align:right">{{pro.unit_price | number :'1.2-2'}}</clr-dg-cell>
      <clr-dg-cell class="text-success" style="text-align:right">{{pro.total_price | number :'1.2-2'}}</clr-dg-cell>
      <clr-dg-cell>
        <clr-icon *ngIf="pro.giveaway==='Y' " shape="check" class="is-success" size="20"></clr-icon>
        <clr-icon *ngIf="pro.giveaway==='N' " shape="times" class="is-danger" size="20"></clr-icon>
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <!-- ราคารวม: {{totalPrice | number:'1.2'}} ส่วนลด({{purchaseOrder.discount_percent}}%) {{(purchaseOrder.discount_percent*totalPrice
        / 100) | number:'1.2'}} ส่วนลดเงินสด: {{purchaseOrder.discount_cash | number:'1.2'}} ภาษี ({{purchaseOrder.vat_rate}}%):
        {{totalPrice*purchaseOrder.vat_rate/100 | number:'1.2'}} ราคารวมสุทธิ:
        <strong class="text-success">{{totalPrice+(totalPrice*purchaseOrder.vat_rate/100) | number:'1.2'}}</strong> | {{pagination.firstItem + 1}} - {{pagination.lastItem
        + 1}} จาก {{pagination.totalItems}} รายการ -->
      <clr-dg-pagination #pagination [clrDgPageSize]="20"></clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>