<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/">หน้าหลัก</a>
  <span class="breadcrumb-item active">รายการถึงจุดสั่งซื้อ</span>
</nav>

<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1" (click)="clearSelected()">1. รายการที่ถึงจุดสั่งซื้อ</button>
    <clr-tab-content id="content1" *clrIfActive="true">
      <div class="row wid99">
        <div class="col-md-9">
          <label for="">ค้นหา</label>
          <input (keyup)="doSearch($event)" type="text" placeholder="ชื่อ, working code, keyword" [(ngModel)]="query"
            style="width: 350px;">
          <clr-checkbox (change)="onChangePurchaseStatus()" [clrInline]="true" name="showNotPurchased"
            id="showNotPurchased" [(ngModel)]="showNotPurchased">
            แสดงรายการที่ไม่เคยสั่งซื้อ
          </clr-checkbox>
        </div>
        <div class="col-md-3">
          <div class="select" style="float: right;">
            <select name="genericTypeId" [(ngModel)]="genericTypeId" (change)="changeType()">
              <option value="all">ทั้งหมด</option>
              <option *ngFor="let p of productType" [value]="p.generic_type_id">{{ p.generic_type_name }}</option>
            </select>
          </div>
        </div>
      </div>

      <clr-datagrid (clrDgRefresh)="refresh($event)" style="height: 80%;">
        <clr-dg-column [clrDgField]="'generic_name'">ชื่อสามัญ (Generic Name)</clr-dg-column>
        <!-- <clr-dg-column [clrDgField]="'labeler_name'">ผู้จำหน่าย</clr-dg-column> -->
        <clr-dg-column style="width: 120px;">Min</clr-dg-column>
        <clr-dg-column style="width: 120px;">Max</clr-dg-column>
        <clr-dg-column style="width: 120px;">คงเหลือ</clr-dg-column>
        <clr-dg-column style="width: 120px;">กำลังจัดซื้อ</clr-dg-column>
        <clr-dg-column [clrDgField]="'generic_type_name'">ประเภท</clr-dg-column>
        <clr-dg-placeholder>ไม่พบข้อมูล</clr-dg-placeholder>

        <clr-dg-row *ngFor="let p of products" [clrDgItem]="p">
          <app-grid-reorder-point-products (onSelected)="onSelectedProduct($event)" [genericId]="p.generic_id"
            *clrIfExpanded ngProjectAs="clr-dg-row-detail"></app-grid-reorder-point-products>
          <clr-dg-cell>
            {{p.working_code}} - {{p.generic_name}}
          </clr-dg-cell>
          <!-- <clr-dg-cell>{{p.labeler_name}}</clr-dg-cell> -->
          <clr-dg-cell style="text-align: right;">{{p.min_qty | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{p.max_qty | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right; font-weight: bold; color: #F52F22;">{{p.remain_qty || 0 | number}}
          </clr-dg-cell>
          <clr-dg-cell style="text-align: right; font-weight: bold; color: #0065AB;">{{p.total_purchased || 0 |
            number}}</clr-dg-cell>
          <clr-dg-cell>{{p.generic_type_name}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{pagination.firstItem + 1 | number}} - {{pagination.lastItem + 1 | number}} จาก {{pagination.totalItems |
          number}} รายการ
          <clr-dg-pagination #pagination [clrDgPageSize]="perPage" [(clrDgPage)]="curentPage" [clrDgTotalItems]="total">
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button (click)="clearSelected()" clrTabLink>2. รายการรอจัดซื้อ
      <span *ngIf="reservedItems.length > 0" class="badge badge-danger">{{totalReserved | number}}</span>
    </button>
    <clr-tab-content *clrIfActive>
      <div class="row">
        <div class="col-md-8">
          <label for="">ค้นหา</label>
          <input (keyup)="doSearchReserved($event)" type="text" placeholder="ชื่อ, working code, keyword"
            [(ngModel)]="queryReserved" style="width: 250px;">
          <button [disabled]="getSelectedPrepare() === 0" class="btn btn-sm btn-success btn-icon"
            (click)="createPreparePurchaseOrder()">
            <clr-icon shape="plus"></clr-icon> เตรียมออกใบสั่งซื้อ ({{getSelectedPrepare() | number}} รายการ)
          </button>
          <button class="btn btn-sm btn-primary btn-icon" [disabled]="!selectedReserved.length"
            (click)="printProduct()">
            <clr-icon shape="printer"></clr-icon> พิมพ์รายการ
          </button>
        </div>
        <div class="col-md-4">
          <div class="select" style="float: right;">
            <select name="genericTypeIdReserved" [(ngModel)]="genericTypeIdReserved" (change)="changeTypeReserved()">
              <option value="all">ทั้งหมด</option>
              <option *ngFor="let p of productType" [value]="p.generic_type_id">{{ p.generic_type_name }}</option>
            </select>
          </div>
        </div>
      </div>

      <clr-datagrid [(clrDgSelected)]="selectedReserved" (clrDgRefresh)="refreshReserved($event)" style="height: 85%;">
        <clr-dg-column [clrDgField]="'generic_name'">ชื่อสินค้า (Generic Name)</clr-dg-column>
        <clr-dg-column [clrDgField]="'labeler_name'">ผู้จำหน่าย</clr-dg-column>
        <!-- <clr-dg-column style="width: 100px;">Min</clr-dg-column> -->
        <clr-dg-column style="width: 120px;">Min/Max</clr-dg-column>
        <clr-dg-column style="width: 100px;">คงเหลือ</clr-dg-column>
        <clr-dg-column>ประเภท</clr-dg-column>
        <clr-dg-column style="width: 100px;">เลขที่สัญญา</clr-dg-column>
        <clr-dg-column style="width: 100px;">ราคาต่อ Pack</clr-dg-column>
        <clr-dg-column style="width: 100px;">จำนวนซื้อ</clr-dg-column>
        <clr-dg-column style="width: 140px;">หน่วยจัดซื้อ</clr-dg-column>
        <clr-dg-column style="width: 100px;">#</clr-dg-column>
        <clr-dg-placeholder>ไม่พบข้อมูล</clr-dg-placeholder>

        <clr-dg-row *ngFor="let p of reservedItems" [clrDgItem]="p">
          <clr-dg-cell>
            <span class="p4">{{p.working_code}} - {{p.generic_name}}</span>
            <br>
            <span class="p7">Trade: {{p.product_name}}</span>
          </clr-dg-cell>
          <clr-dg-cell>{{p.labeler_name}}</clr-dg-cell>
          <!-- <clr-dg-cell style="text-align: right;">{{p.min_qty | number}}</clr-dg-cell> -->
          <clr-dg-cell style="text-align: right;">{{p.min_qty | number}}/{{p.max_qty | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{p.remain_qty | number}}</clr-dg-cell>
          <clr-dg-cell>{{p.generic_type_name}}</clr-dg-cell>
          <clr-dg-cell>{{p.contract_no}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{p.cost | number: '1.2-2'}}</clr-dg-cell>
          <clr-dg-cell>
            <input type="text" #qty (keyup)="onChangeQty(qty.value, p)"
              style="width: 100%; text-align: right; background-color:#FFF9C4" placeholder="0" appNumberWithoutDot
              [value]="p.order_qty || null">
          </clr-dg-cell>
          <clr-dg-cell>
            <app-select-box-units (onChange)="onChangeUnit($event, p)" [genericId]="p.generic_id"
              [setUnitGenericId]="p.purchase_unit_id"></app-select-box-units>
          </clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <button class="btn btn-sm btn-danger wm-small-btn" (click)="removeWaiting(p)">
              <clr-icon shape="trash"></clr-icon>
            </button>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{paginationReserved.firstItem + 1 | number}} - {{paginationReserved.lastItem + 1 | number}} จาก
          {{paginationReserved.totalItems
          | number}} รายการ
          <clr-dg-pagination #paginationReserved [clrDgPageSize]="perPageReserved" [clrDgTotalItems]="totalReserved">
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button (click)="clearSelected();getReservedForOrders()" clrTabLink>3. รายการรอออกใบสั่งซื้อ
      <span *ngIf="selectedOrders.length > 0" class="badge badge-danger">{{selectedOrders.length | number}}</span>
    </button>
    <clr-tab-content *clrIfActive>
      <div class="row">
        <div class="col-md-8">
          <button [disabled]="!selectedOrdersReserved.length" (click)="modalCreatePurchaseOrders = true"
            class="btn btn-sm btn-success btn-icon">
            <clr-icon shape="shopping-cart"></clr-icon> ออกใบสั่งซื้อ ({{selectedOrdersReserved.length || 0 | number}}
            รายการ)
          </button>
        </div>
        <div class="col-md-4">
          <div class="select" style="float: right;">
            <select name="genericTypeIdOrderReserved" [(ngModel)]="genericTypeIdOrderReserved" (change)="changeType()">
              <option value="all">ทั้งหมด</option>
              <option *ngFor="let p of productType" [value]="p.generic_type_id">{{ p.generic_type_name }}</option>
            </select>
          </div>
        </div>
      </div>

      <clr-datagrid [(clrDgSelected)]="selectedOrdersReserved" style="height: 85%;">
        <clr-dg-column [clrDgField]="'generic_name'">ชื่อสินค้า (Generic Name)</clr-dg-column>
        <clr-dg-column [clrDgField]="'labeler_name'">ผู้จำหน่าย</clr-dg-column>
        <clr-dg-column>ประเภท</clr-dg-column>
        <clr-dg-column style="width: 100px;">เลขที่สัญญา</clr-dg-column>
        <clr-dg-column style="width: 100px;">ราคาต่อ Pack</clr-dg-column>
        <clr-dg-column style="width: 100px;">จำนวนซื้อ</clr-dg-column>
        <clr-dg-column style="width: 140px;">หน่วยจัดซื้อ</clr-dg-column>
        <clr-dg-column style="width: 100px;">รวมมูลค่า</clr-dg-column>
        <clr-dg-column style="width: 100px;">#</clr-dg-column>
        <clr-dg-placeholder>ไม่พบข้อมูล</clr-dg-placeholder>

        <clr-dg-row *clrDgItems="let p of selectedOrders" [clrDgItem]="p">
          <clr-dg-cell>
            <span class="p4">{{p.working_code}} - {{p.generic_name}}</span>
            <br>
            <span class="p7">Trade: {{p.product_name}}</span>
          </clr-dg-cell>
          <clr-dg-cell>{{p.labeler_name}}</clr-dg-cell>
          <clr-dg-cell>{{p.generic_type_name}}</clr-dg-cell>
          <clr-dg-cell>{{p.contract_no}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{p.purchase_cost | number: '1.2-2'}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right; font-weight: bold;">{{ p.order_qty | number }}</clr-dg-cell>
          <clr-dg-cell>{{p.from_unit_name}} ({{p.conversion_qty}} {{p.to_unit_name}})</clr-dg-cell>
          <clr-dg-cell style="text-align: right; font-weight: bold;">{{ p.order_qty*p.purchase_cost | number }}
          </clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <button class="btn btn-sm btn-danger wm-small-btn" (click)="removeWaiting(p)">
              <clr-icon shape="trash"></clr-icon>
            </button>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{ selectedOrders.length | number }} รายการ
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>

</clr-tabs>


<clr-modal [(clrModalOpen)]="modalCreatePurchaseOrders" [clrModalClosable]="false">
  <h3 class="modal-title">รายละเอียดการออกใบสั่งซื้อ</h3>
  <div class="modal-body">
    <div class="card">
      <!-- <div class="card-title">งบประมาณ</div> -->
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <div class="radio-inline">
              <input type="radio" value="true" name="onePO" (change)="changeRadio()" id="rdoCommittee_status_1" checked>
              <label for="rdoCommittee_status_1">แก้ไขข้อมูลทีละรายการ</label>
            </div>
            <div class="radio-inline">
              <input type="radio" value="false" name="onePO" (change)="changeRadio()" id="rdoCommittee_status_2">
              <label for="rdoCommittee_status_2">แก้ไขข้อมูลทุกรายการ</label>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="card" style="min-height:255px;padding: 5px;" *ngIf="!onePO">
      <!-- <div class="card-title">เจ้าหน้าที่และชุดกรรมการ</div> -->
      <div class="card-block">
        <!-- <div class="form-group"> -->
        <div class="row">
          <!-- <div class="col-md-4">
            <label class="required" for="generic_type_id">ประเภท</label>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <div class="select" style="width:100%">
                <select [disabled]="contractId" #selectGenericTypeId id="genericTypeId" name="genericTypeId"
                  [(ngModel)]="genericTypeId" (change)="onChangeGenericType(selectGenericTypeId.value)">
                  <option *ngFor="let p of productType" [value]="p.generic_type_id">{{ p.generic_type_name }}</option>
                </select>
              </div>
            </div>
          </div> -->

          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="purchaseTypeId">รูปแบบการจัดซื้อ</label>
            </div>
          </div>
          <div class="col-md-8">
            <po-select-bid (onChange)="onChangePurchaseType($event)" style="width:100%"></po-select-bid>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="purchaseMethodId">วิธีการจัดซื้อ</label>
            </div>
          </div>
          <div class="col-md-8">
            <po-select-bid-process (onChange)="onChangePurchaseMethod($event)" style="width: 100%;">
            </po-select-bid-process>

          </div>

          <div class="col-md-4">
            <!-- ประเภทงบประมาณ -->
            <label class="required" for="budgetTypeId">ประเภทงบประมาณ</label>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <po-select-budget style="width: 100%;" (onChange)="onChangeBudgetType($event)"></po-select-budget>
            </div>
          </div>
          <div class="col-md-4">
            <!-- งบประมาณย่อย -->
            <label class="required" for="budget_detail_id">งบประมาณย่อย (ปีงบ {{budgetYear+543}})</label>
          </div>
          <div class="col-md-8">
            <po-select-sub-budget (onChange)="onChangeSubBudget($event)" [budgetTypeId]="budgetTypeId"
              style="width: 100%;" #subBudgetList [year]="budgetYear"></po-select-sub-budget>
          </div>
        </div>

        <label for="chief_fullname"> ชื่อหัวหน้าเจ้าหน้าที่</label>
        <div class="row">
          <div class="col-md-11">
            <po-select-officer [selectedId]="office" officerTypeCode="CHIEF" (onChange)="changeOfficer($event)"
              style="width: 100%;"></po-select-officer>
          </div>
          <div class="col-md-1">
            <div class="checkbox">
              <clr-checkbox name="showChief" [(ngModel)]="showChief" [clrChecked]="showChief"></clr-checkbox>
            </div>
          </div>
        </div>
        <!-- </div> -->

        <div class="form-group">
          <label for="buyer_fullname"> ชื่อเจ้าหน้าที่</label>
          <div class="row">
            <div class="col-md-11">
              <po-select-officer officerTypeCode="BUYYER" [selectedId]="office1" (onChange)="changeOffice($event)"
                style="width: 100%;"></po-select-officer>
            </div>
            <div class="col-md-1">
              <div class="checkbox">
                <clr-checkbox name="showBuyer" [(ngModel)]="showBuyer" [clrChecked]="showBuyer"></clr-checkbox>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="required" for="staff_receive_fullname"> เจ้าหน้าที่พัสดุ<span
              class="text-danger">*</span></label>
          <div class="row">
            <div class="col-md-11">
              <po-select-officer officerTypeCode="STAFF_RECEIVE" [selectedId]="supplyId"
                (onChange)="changeOffices($event)" style="width: 100%;"></po-select-officer>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="required" for="verify_committee_id">กรรมการตรวจรับ
            <span class="text-danger">*</span>
          </label>
          <po-select-committee [selectedId]="verifyCommitteeId" style="width: 100%;"
            (onChange)="changeCommittee($event)"></po-select-committee>
        </div>
        <div [ngClass]="{'hidden':verifyCommitteeId!=0}">
          <ol>
            <li> ประธาน
              <app-search-people [disabled]="verifyCommitteeId != 0" #searchPeople1
                (onChange)="onChangePeople($event,1)" (onSelect)="onSelectPeople($event,1)" style="width: 100%;">
              </app-search-people>
            </li>
            <li> กรรมการ
              <app-search-people [disabled]="verifyCommitteeId != 0" #searchPeople2
                (onChange)="onChangePeople($event,2)" (onSelect)="onSelectPeople($event,2)" style="width: 100%;">
              </app-search-people>
            </li>
            <li> กรรมการ
              <app-search-people [disabled]="verifyCommitteeId != 0" #searchPeople3
                (onChange)="onChangePeople($event,3)" (onSelect)="onSelectPeople($event,3)" style="width: 100%;">
              </app-search-people>
            </li>
          </ol>
        </div>
        <div *ngIf="verifyCommitteeId != 0">
          <ol>
            <li *ngFor="let p of committeeSelected">
              <span>
                {{p.fullname}} ( {{p.cp_position_name}} )
              </span>
              <small style="display:block;">
                <i> {{p.position_name}}</i>
              </small>
            </li>
          </ol>
        </div>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="createPurchaseOrders()">
      ออกใบสั่งซื้อ
    </button>
    <button type="button" class="btn btn-danger" (click)="modalCreatePurchaseOrders = false">
      ปิด
    </button>
  </div>
</clr-modal>

<app-modal-loading #modalLoading></app-modal-loading>
<app-html-preview #htmlPreview></app-html-preview>