<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/">หน้าหลัก</a>
  <span class="breadcrumb-item active">รายการถึงจุดสั่งซื้อ</span>
</nav>

<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1" (click)="clearSelected()">1. รายการที่ถึงจุดสั่งซื้อ</button>
    <clr-tab-content id="content1" *clrIfActive="true">
      <div class="row wid99">
        <div class="col-md-8">
          <label for="">ค้นหา</label>
          <input (keyup)="doSearch($event)" type="text" placeholder="ชื่อ, working code, keyword" [(ngModel)]="query" style="width: 350px;">
          <button [disabled]="!selectedProduct.length" class="btn btn-sm btn-success btn-icon" (click)="saveReserved()">
            <clr-icon shape="plus"></clr-icon> เตรียมจัดสั่งซื้อ ({{selectedProduct.length | number}} รายการ)
          </button>
        </div>
        <div class="col-md-4">
          <div class="select" style="float: right;">
            <select name="genericTypeId" [(ngModel)]="genericTypeId" (change)="changeType()">
              <option value="all">ทั้งหมด</option>
              <option *ngFor="let p of productType" [value]="p.generic_type_id">{{ p.generic_type_name }}</option>
            </select>
          </div>
        </div>
      </div>

      <clr-datagrid [(clrDgSelected)]="selectedProduct" (clrDgRefresh)="refresh($event)" style="height: 85%;">
        <clr-dg-column>ชื่อสินค้า (Generic Name)</clr-dg-column>
        <clr-dg-column>ผู้จำหน่าย</clr-dg-column>
        <clr-dg-column style="width: 120px;">Min</clr-dg-column>
        <clr-dg-column style="width: 120px;">Max</clr-dg-column>
        <clr-dg-column style="width: 120px;">คงเหลือ</clr-dg-column>
        <clr-dg-column style="width: 120px;">กำลังจัดซื้อ</clr-dg-column>
        <clr-dg-column>ประเภท</clr-dg-column>
        <clr-dg-placeholder>ไม่พบข้อมูล</clr-dg-placeholder>

        <clr-dg-row *ngFor="let p of products" [clrDgItem]="p">
          <clr-dg-cell>
            <span class="p4">{{p.working_code}} - {{p.generic_name}}</span>
            <br>
            <span class="p7">Trade: {{p.product_name}}</span>
          </clr-dg-cell>
          <clr-dg-cell>{{p.labeler_name}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{p.min_qty | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{p.max_qty | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right; font-weight: bold; color: #F52F22;">{{p.remain_qty | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right; font-weight: bold; color: #0065AB;">{{p.total_purchased || 0 | number}}</clr-dg-cell>
          <clr-dg-cell>{{p.generic_type_name}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{pagination.firstItem + 1 | number}} - {{pagination.lastItem + 1 | number}} จาก {{pagination.totalItems | number}} รายการ
          <clr-dg-pagination #pagination [clrDgPageSize]="perPage" [(clrDgPage)]="curentPage" [clrDgTotalItems]="total"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button (click)="clearSelected()" clrTabLink>2. รายการรอจัดซื้อ
      <span *ngIf="reservedItems.length > 0" class="badge badge-danger">{{totalReserved | number}}</span>
    </button>
    <clr-tab-content *clrIfActive>
      <div class="row">
        <div class="col-md-8">
          <label for="">ค้นหา</label>
          <input (keyup)="doSearchReserved($event)" type="text" placeholder="ชื่อ, working code, keyword" [(ngModel)]="queryReserved"
            style="width: 250px;">
          <button [disabled]="getSelectedPrepare() === 0" class="btn btn-sm btn-success btn-icon" (click)="createPreparePurchaseOrder()">
            <clr-icon shape="plus"></clr-icon> เตรียมออกใบสั่งซื้อ ({{getSelectedPrepare() | number}} รายการ)
          </button>
          <button class="btn btn-sm btn-primary btn-icon" [disabled]="!selectedReserved.length" (click)="printProduct()">
            <clr-icon shape="printer"></clr-icon> พิมพ์รายการ
          </button>
        </div>
        <div class="col-md-4">
          <div class="select" style="float: right;">
            <select name="genericTypeIdReserved" [(ngModel)]="genericTypeIdReserved" (change)="changeTypeReserved()">
              <option value="all">ทั้งหมด</option>
              <option *ngFor="let p of productType" [value]="p.generic_type_id">{{ p.generic_type_name }}</option>
            </select>
          </div>
        </div>
      </div>

      <clr-datagrid [(clrDgSelected)]="selectedReserved" (clrDgRefresh)="refreshReserved($event)" style="height: 85%;">
        <clr-dg-column>ชื่อสินค้า (Generic Name)</clr-dg-column>
        <clr-dg-column>ผู้จำหน่าย</clr-dg-column>
        <!-- <clr-dg-column style="width: 100px;">Min</clr-dg-column> -->
        <clr-dg-column style="width: 120px;">Min/Max</clr-dg-column>
        <clr-dg-column style="width: 100px;">คงเหลือ</clr-dg-column>
        <clr-dg-column>ประเภท</clr-dg-column>
        <clr-dg-column style="width: 100px;">เลขที่สัญญา</clr-dg-column>
        <clr-dg-column style="width: 100px;">ราคาต่อ Pack</clr-dg-column>
        <clr-dg-column style="width: 100px;">จำนวนซื้อ</clr-dg-column>
        <clr-dg-column style="width: 140px;">หน่วยจัดซื้อ</clr-dg-column>
        <clr-dg-column style="width: 100px;">#</clr-dg-column>
        <clr-dg-placeholder>ไม่พบข้อมูล</clr-dg-placeholder>

        <clr-dg-row *ngFor="let p of reservedItems" [clrDgItem]="p">
          <clr-dg-cell>
            <span class="p4">{{p.working_code}} - {{p.generic_name}}</span>
            <br>
            <span class="p7">Trade: {{p.product_name}}</span>
          </clr-dg-cell>
          <clr-dg-cell>{{p.labeler_name}}</clr-dg-cell>
          <!-- <clr-dg-cell style="text-align: right;">{{p.min_qty | number}}</clr-dg-cell> -->
          <clr-dg-cell style="text-align: right;">{{p.min_qty | number}}/{{p.max_qty | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{p.remain_qty | number}}</clr-dg-cell>
          <clr-dg-cell>{{p.generic_type_name}}</clr-dg-cell>
          <clr-dg-cell></clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{p.cost | number: '1.2-2'}}</clr-dg-cell>
          <clr-dg-cell>
            <input type="text" #qty (keyup)="onChangeQty(qty.value, p)" style="width: 100%; text-align: right; background-color:#FFF9C4"
              placeholder="0" appNumberWithoutDot [value]="p.order_qty || null">
          </clr-dg-cell>
          <clr-dg-cell>
            <app-select-box-units (onChange)="onChangeUnit($event, p)" [genericId]="p.generic_id"></app-select-box-units>
          </clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <button class="btn btn-sm btn-danger wm-small-btn" (click)="removeWaiting(p)">
              <clr-icon shape="trash"></clr-icon>
            </button>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{paginationReserved.firstItem + 1 | number}} - {{paginationReserved.lastItem + 1 | number}} จาก {{paginationReserved.totalItems
          | number}} รายการ
          <clr-dg-pagination #paginationReserved [clrDgPageSize]="perPageReserved" [clrDgTotalItems]="totalReserved"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>

    <clr-tab>
    <button (click)="clearSelected();getReservedForOrders()" clrTabLink>3. รายการรอออกใบสั่งซื้อ
      <span *ngIf="selectedOrders.length > 0" class="badge badge-danger">{{selectedOrders.length | number}}</span>
    </button>
    <clr-tab-content *clrIfActive>
      <div class="row">
        <div class="col-md-8">
          <button [disabled]="!selectedOrdersReserved.length" (click)="createPurchaseOrders()" class="btn btn-sm btn-success btn-icon">
            <clr-icon shape="shopping-cart"></clr-icon> ออกใบสั่งซื้อ ({{selectedOrdersReserved.length || 0 | number}} รายการ)
          </button>
        </div>
        <!-- <div class="col-md-4">
          <div class="select" style="float: right;">
            <select name="genericTypeIdReserved" [(ngModel)]="genericTypeIdReserved" (change)="changeTypeReserved()">
              <option value="all">ทั้งหมด</option>
              <option *ngFor="let p of productType" [value]="p.generic_type_id">{{ p.generic_type_name }}</option>
            </select>
          </div>
        </div> -->
      </div>

      <clr-datagrid [(clrDgSelected)]="selectedOrdersReserved" style="height: 85%;">
        <clr-dg-column>ชื่อสินค้า (Generic Name)</clr-dg-column>
        <clr-dg-column>ผู้จำหน่าย</clr-dg-column>
        <clr-dg-column>ประเภท</clr-dg-column>
        <clr-dg-column style="width: 100px;">เลขที่สัญญา</clr-dg-column>
        <clr-dg-column style="width: 100px;">ราคาต่อ Pack</clr-dg-column>
        <clr-dg-column style="width: 100px;">จำนวนซื้อ</clr-dg-column>
        <clr-dg-column style="width: 140px;">หน่วยจัดซื้อ</clr-dg-column>
        <clr-dg-column style="width: 100px;">รวมมูลค่า</clr-dg-column>
        <clr-dg-column style="width: 100px;">#</clr-dg-column>
        <clr-dg-placeholder>ไม่พบข้อมูล</clr-dg-placeholder>

        <clr-dg-row *ngFor="let p of selectedOrders" [clrDgItem]="p">
          <clr-dg-cell>
            <span class="p4">{{p.working_code}} - {{p.generic_name}}</span>
            <br>
            <span class="p7">Trade: {{p.product_name}}</span>
          </clr-dg-cell>
          <clr-dg-cell>{{p.labeler_name}}</clr-dg-cell>
          <clr-dg-cell>{{p.generic_type_name}}</clr-dg-cell>
          <clr-dg-cell>{{p.contract_id}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{p.purchase_cost | number: '1.2-2'}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right; font-weight: bold;">{{ p.order_qty | number }}</clr-dg-cell>
          <clr-dg-cell>{{p.from_unit_name}} ({{p.conversion_qty}} {{p.to_unit_name}})</clr-dg-cell>
          <clr-dg-cell style="text-align: right; font-weight: bold;">{{ p.order_qty*p.purchase_cost | number }}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <button class="btn btn-sm btn-danger wm-small-btn" (click)="removeWaiting(p)">
              <clr-icon shape="trash"></clr-icon>
            </button>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{ selectedOrders.length | number }} รายการ
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>

</clr-tabs>

<app-modal-loading #modalLoading></app-modal-loading>
<app-html-preview #htmlPreview></app-html-preview>