<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">กำหนดวิธีการจัดซื้อ</span>
</nav>

<button class="btn btn-success btn-sm" (click)="onClickAdd()">
  <clr-icon shape="plus"></clr-icon> เพิ่มรายการ
</button>

<clr-datagrid [style.height.%]="80">
  <clr-dg-column [clrDgField]="'fullname'">วิธีการจัดซื้อ</clr-dg-column>
  <clr-dg-column style="width: 180px;" [clrDgField]="'type_name'">จำนวนเงิน</clr-dg-column>
  <clr-dg-column [style.width.px]="120"></clr-dg-column>
  <clr-dg-row *clrDgItems="let row of bidprocess">
    <clr-dg-cell>{{row.name}}</clr-dg-cell>
    <clr-dg-cell>{{row.f_amount | number: '1.2-2'}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group">
        <button title="แก้ไข" class="btn btn-sm btn-success wm-small-btn" (click)="onClickEdit(row)">
          <clr-icon shape="note"></clr-icon>
        </button>
        <button title="ลบ" class="btn btn-sm btn-danger wm-small-btn" (click)="onClickDelete(row)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
    <clr-dg-pagination #pagination [clrDgPageSize]="15"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="true" [clrModalSize]="'lg'">
  <h3 class="modal-title">กำหนดวิธีการจัดซื้อ &nbsp; เพิ่ม/แก้ไข</h3>
  <div class="modal-body">
    <form>
      <section class="form-block">
        <label>ระบุบวิธีการจัดซื้อ</label>
        <div class="row">
          <div class="form-group">
            <div class="col-lg-12 col-md-12">
              <label for="aForm_3">วิธีการจัดซื้อ</label>
              <input type="text" placeholder="วิธีการจัดซื้อ" name="bidname" [(ngModel)]="bidname">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-lg-12 col-md-12">
              <label for="inpType">จำนวนเงิน</label>
              <input type="number" placeholder="จำนวนเงิน" name="f_amount" appNumberOnly [(ngModel)]="f_amount">
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-info" [disabled]="!bidname || !f_amount" (click)="onClickSave()">
      บันทึก
    </button>
    <button type="button" class="btn btn-md btn-danger-outline" (click)="isOpen = false">
      ปิดหน้าต่าง
    </button>
  </div>
</clr-modal>