<div class="card" style="height:299px;">
  <div class="card-block  form-right">
    <div class="row">
      <div class="col-md-5">งบประมาณ</div>
      <div class="col-md-7" style="text-align: right;">
        <span class="p4" style="color: #F52F22; font-size: 14px;">{{budgetName}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">ยอดจัดสรร</div>
      <div class="col-md-7" style="text-align: right;">
        <span style="font-weight: bold;">{{budgetAmount | number: '1.2-2'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">คงเหลือยกมา</div>
      <div class="col-md-7" style="text-align: right;">
        <span style="color: #0065AB; font-weight: bold;">{{budgetRemain | number: '1.2-2'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">ซื้อไปแล้ว</div>
      <div class="col-md-7" style="text-align: right;">
        <span style="color: #0065AB; font-weight: bold;">{{purchaseAmount | number: '1.2-2'}} ({{purchaseAmount * 100 / budgetAmount | number:'1.2-2'}}%)</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">ซื้อครั้งนี้</div>
      <div class="col-md-7" style="text-align: right;">
        <span style="color: #318700; font-weight: bold;">{{totalPurchaseAmount | number: '1.2-2'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">คงเหลือครั้งนี้</div>
      <div class="col-md-7" style="text-align: right;">
        <span style="color: #781DA0; font-weight: bold;">{{budgetRemain - totalPurchaseAmount | number: '1.2-2'}}</span>
      </div>
    </div>
    <hr class="hr">
    <div class="row">
      <div class="col-md-5">เลขที่สัญญา</div>
      <div class="col-md-7" style="text-align: right;">
        <span style="color: #F52F22; font-weight: bold;">{{contractNo || '-'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">วงเงินในสัญญา</div>
      <div class="col-md-7" style="text-align: right;">
        <span style="font-weight: bold;">{{contractAmount | number: '1.2-2'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">คงเหลือยกมา</div>
      <div class="col-md-7" style="text-align: right;">
        <span style="color: #0065AB; font-weight: bold;">{{contractRemain | number: '1.2-2'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">คงเหลือครั้งนี้</div>
      <div class="col-md-7" style="text-align: right;">
        <span *ngIf="_contractId" style="color: #781DA0; font-weight: bold;">{{contractRemainAfterPurchase | number: '1.2-2'}}</span>
        <span *ngIf="!_contractId" style="color: #781DA0; font-weight: bold;">{{0 | number: '1.2-2'}}</span>
      </div>
    </div>
  </div>
</div>