<div class="card" style="min-height:255px;">
  <div class="card-block  form-right">
    <div class="form-group">
      <label for="amount">งบประมาณ</label>
      <input type="text" class="form-control" value="0" readonly>
    </div>
    <div class="form-group">
      <label for="amount">ยอดที่จัดสรร</label>
      <input type="text" class="form-control" value="" readonly>
    </div>
    <div class="form-group">
      <label for="amount">ยอดที่จัดซื้อแล้ว</label>
      <input type="text" value="" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="amount">ยอดคงเหลือยกมา</label>
      <input type="text" value="" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="amount">ยอดจัดซื้อครั้งนี้</label>
      <input type="text" value="" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="amount">ยอดคงเหลือครั้งนี้</label>
      <input type="text" value="" class="form-control" readonly>
    </div>
    <hr class="hr">
    <div class="form-group">
      <label for="amount">เลขที่สัญญา</label>
      <input type="text" class="form-control" value="0" readonly>
    </div>
    <div class="form-group">
      <label for="amount">วงเงินในสัญญา</label>
      <input type="text" class="form-control" value="0" readonly>
    </div>
  </div>
</div>