<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <a class="nav-link">
        <img src="./assets/images/logo.png" alt="" width="80" style="margin-right:10px;">
        <span class="title">MMIS: Purchasing</span>
      </a>
    </div>
  </clr-header>
  <div class="login-wrapper">
    <form class="login">
      <label class="title">
        Purchasing &#174;
      </label>
      <div class="login-group">
        <input (keypress)="enterLogin($event)" class="username" [(ngModel)]="username" type="text" name="login_username" placeholder="Username">
        <input (keypress)="enterLogin($event)" class="password" [(ngModel)]="password" type="password" name="login_password" placeholder="Password">
        <div style="text-align: center" *ngIf="isLogging">
          <span class="spinner spinner-inline">
            Loading...
          </span>
          <span>
            Logging in...
          </span>
        </div>
        <button type="button" (click)="doLogin()" class="btn btn-primary" [disabled]="!username || !password || isLogging">LOG IN</button>
      </div>
    </form>
  </div>
</clr-main-container>