<div style="position:relative">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="javascript://" routerLink="/">หน้าหลัก</a>
    <a class="breadcrumb-item" href="javascript://" routerLink="/purchase/orders">รายการใบสั่งซื้อ</a>
    <span class="breadcrumb-item active">ใบสั่งซื้อ</span>
    <span style="margin-left: 2%; font-size:20px; font-weight:bold;">{{purchaseOrderNumber}}</span>
    <span style="margin-left:35px">
      <app-order-status [status]="purchaseOrderStatus"></app-order-status>
    </span>
    <span style="margin-left:35px" *ngIf="edi">
      <label class="label label-danger  clickable">
        สั่งซื้อสินค้าออนไลน์ (EDI)
      </label>
    </span>
    <!-- <span *ngIf="edi" style="margin-left: 2%; font-size:30px; font-weight:bold;color:red;">สั่งซื้อสินค้าออนไลน์ (EDI)</span> -->
    <span style="float:right;">
      <span *ngIf="contractId" class="label label-danger">เลขที่สัญญา:
        <strong>{{contractNo}}</strong>
      </span>
      <span>ราคารวมสุทธิ</span>
      <span style="margin:10px;font-size:20px;font-weight:bold;" class="text-success">
        {{totalPrice | number: '1.2-2'}}
      </span>
    </span>
  </nav>

  <small class="p5" *ngIf="holidayText">
    <clr-icon shape="info-standard"></clr-icon> {{holidayText}}
  </small>

  <form>
    <div class="card" [ngClass]="{'lock-div': !editAfterApprove && isUpdate && purchaseOrderStatus === 'APPROVED'}">
      <div class="card-block form-fid">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="purchaseOrderBookNumber">เลขที่อ้างอิง</label>
              <input class="form-control" type="text" id="purchaseOrderBookNumber" name="purchaseOrderBookNumber"
                [(ngModel)]="purchaseOrderBookNumber" placeholder="เลขที่อ้างอิงหนังสือ...">
            </div>
          </div>

          <div class="col-md-4">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="required" for="nin">วันที่ออกใบสั่งซื้อ</label>
                </div>
              </div>
              <div class="col-md-8">
                <my-date-picker-th (dateChanged)="onDateChanged($event)" name="purchaseDate" [(ngModel)]="purchaseDate"
                  [options]="myDatePickerOptions" required></my-date-picker-th>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="generic_type_id">หมวดสินค้า</label>
              <div class="select" style="width:100%">
                <select [disabled]="contractId" #selectGenericTypeId id="genericTypeId" name="genericTypeId"
                  [(ngModel)]="genericTypeId" (change)="onChangeGenericType(selectGenericTypeId.value)">
                  <option> กรุณาเลือก...</option>
                  <option *ngFor="let p of productType" [value]="p.generic_type_id">{{ p.generic_type_name }}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label style="width: 120px;" class="required" for="labeler_id">ผู้จำหน่าย</label>
              <!-- <app-search-labeler style="width:100%" (onSelected)="onLabelerSelected($event)" [labelerName]="labelerName"></app-search-labeler> -->
              <po-search-vendor [disabled]="contractId" #searchVendor (onChange)="onChangeVendor($event)"
                (onSelect)="onSelectVendor($event)" style="width: 100%;"></po-search-vendor>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="budgetTypeId">ประเภทงบประมาณ</label>
              <po-select-budget [selectedId]="budgetTypeId" style="width: 100%;"
                (onChange)="onChangeBudgetType($event)"></po-select-budget>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="budget_detail_id">งบประมาณย่อย</label>
              <po-select-sub-budget [selectedId]="budgetDetailId" (onChange)="onChangeSubBudget($event)"
                style="width: 100%;" #subBudgetList [year]="budgetYear" [budgetTypeId]="budgetTypeId">
              </po-select-sub-budget>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="purchaseTypeId">รูปแบบการจัดซื้อ</label>
              <po-select-bid [selectedId]="purchaseTypeId" (onChange)="onChangePurchaseType($event)" style="width:100%">
              </po-select-bid>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="purchaseMethodId">วิธีการจัดซื้อ</label>
              <po-select-bid-process [selectedId]="purchaseMethodId" (onChange)="onChangePurchaseMethod($event)"
                style="width: 100%;"></po-select-bid-process>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="delivery">กำหนดส่งของภายใน</label>
              <div class="form-control flexbox">
                <input size="1" type="text" id="delivery" name="delivery" [(ngModel)]="delivery">
                <span>วัน</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <clr-datagrid class="grid-order" style="padding-top:15px;"
      [ngClass]="{'lock-div': !editAfterApprove && isUpdate && purchaseOrderStatus === 'APPROVED'}">
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">
          รายละเอียด
        </ng-container>
      </clr-dg-column>

      <clr-dg-column class="header-right" [style.width.px]="100">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          จำนวน Pack
        </ng-container>
      </clr-dg-column>

      <clr-dg-column class="header-right" [style.width.px]="150">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          ขนาดบรรจุ
        </ng-container>
      </clr-dg-column>

      <clr-dg-column class="header-right" [style.width.px]="120">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          รวม (Base Unit)
        </ng-container>
      </clr-dg-column>
      <clr-dg-column class="header-right" [style.width.px]="120">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          ราคาต่อขนาดบรรจุ
        </ng-container>
      </clr-dg-column>

      <clr-dg-column class="header-right" [style.width.px]="120">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          ราคารวม
        </ng-container>
      </clr-dg-column>
      <clr-dg-column [style.width.px]="100">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          ของแถม
        </ng-container>
      </clr-dg-column>
      <clr-dg-column [style.width.px]="120">
        #
      </clr-dg-column>
      <clr-dg-row *ngFor="let p of purchaseOrderItems; let idx=index;" [clrDgItem]="p"
        [ngClass]="{'isError': p.cost > p.old_cost}">
        <clr-dg-cell>
          <!-- {{idx + 1}}. {{p.product_name}} -->
          <strong>{{idx + 1}}. {{ p.product_name }}</strong>
          <br>
          <span style="margin-left:5px;font-size: 0.85em">{{ p.generic_name }}</span>
        </clr-dg-cell>
        <clr-dg-cell>
          <input type="text" name="qty" class="wm-edit-box-number" style="background-color: #FFF9C4" [value]="p.qty"
            #qty (keyup)="onChangeEditQty(qty.value, idx)" appNumberWithoutDot>
        </clr-dg-cell>
        <clr-dg-cell>
          <app-select-box-units [selectedId]="p.unit_generic_id" [genericId]="p.generic_id"
            (onChange)="onSelectedEditUnits($event, idx)"></app-select-box-units>
        </clr-dg-cell>
        <clr-dg-cell style="text-align: right;">{{p.qty * p.small_qty | number}}</clr-dg-cell>
        <clr-dg-cell>
          <input autocomplete="off" type="text" [value]="p.cost" name="cost" #cost class="wm-edit-box-number"
            style="background-color: #FFF9C4" appNumberOnly (keyup)="onChangeEditCost(cost.value, idx)">
        </clr-dg-cell>
        <clr-dg-cell style="text-align: right;">
          {{p.total_cost | number: '1.2-2'}}
        </clr-dg-cell>
        <clr-dg-cell style="text-align: center;">
          <div class="toggle-switch">
            <input autocomplete="off" type="checkbox" #giveaway id="giveaway-{{idx}}" name="giveaway"
              [checked]="p.is_giveaway === 'Y'" (change)="onChangeEditGiveaway(giveaway, idx)">
            <label for="giveaway-{{idx}}"></label>
          </div>
        </clr-dg-cell>
        <clr-dg-cell style="text-align: center;">
          <button class="btn btn-sm btn-danger wm-small-btn" (click)="removeProduct(idx)">
            <clr-icon shape="trash"></clr-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-row class="wm-add-row">
        <clr-dg-cell>
          <app-search-product-vendor [disabled]="!labelerId" #searchProductLabeler
            (onSelect)="productSearchSelected($event)" [labelerId]="labelerId"></app-search-product-vendor>
        </clr-dg-cell>
        <clr-dg-cell>
          <input type="text" autocomplete="off" name="qty" class="wm-edit-box-number" style="background-color: #FFF9C4"
            [(ngModel)]="selectedQty" appNumberWithoutDot>
        </clr-dg-cell>
        <clr-dg-cell>
          <app-select-box-units #selectBoxUnit (onChange)="onChangeUnit($event)"></app-select-box-units>
        </clr-dg-cell>
        <clr-dg-cell style="text-align: right;">{{selectedUnit.qty * selectedQty | number}}</clr-dg-cell>
        <clr-dg-cell>
          <input autocomplete="off" type="text" name="cost" class="wm-edit-box-number" style="background-color: #FFF9C4"
            [(ngModel)]="selectedCost" appNumberOnly>
        </clr-dg-cell>
        <clr-dg-cell style="text-align: right;">{{selectedCost * selectedQty | number: '1.2-2'}}</clr-dg-cell>
        <clr-dg-cell style="text-align: center;">
          <div class="toggle-switch">
            <input autocomplete="off" type="checkbox" id="giveaway" name="giveaway" [(ngModel)]="isGiveaway"
              (change)="onChangeGiveaway($event)">
            <label for="giveaway"></label>
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="btn-group">
            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-left">
              <button
                [disabled]="!selectedProduct.product_id || !selectedQty || !selectedCost || !selectedUnit.unit_generic_id"
                class="btn btn-sm btn-success wm-small-btn" (click)="addProductSelected()">
                <clr-icon shape="plus"></clr-icon>
              </button>
              <span *ngIf="selectedProduct.product_id && selectedCost > selectedUnit.standard_cost"
                class="tooltip-content" style="background-color: rgb(233, 74, 74)">ราคาสั่งซื้อเกินราคากลาง
                !</span>
            </span>
            <span>
              <button [disabled]="!selectedProduct.product_id" class="btn btn-sm btn-danger wm-small-btn"
                (click)="removeSelected()">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </span>
          </div>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <div style="float: left;">
          <div style="margin-top: 5px;width:20px;height:20px;color: red;background-color: red;float: left;"></div>
          พื้นหลังสีแดง = ราคาต่อขนาดบรรจุมากกว่าครั้งก่อน
        </div>
        จำนวนทั้งหมด
        <strong>
          <span class="badge"> {{purchaseOrderItems.length}}</span>
        </strong> รายการ
        <clr-dg-pagination #pagination [clrDgPageSize]="20"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>

  </form>

  <div class="row">
    <div class="col-md-6">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>เจ้าหน้าที่/กรรมการตรวจรับ</button>
          <clr-tab-content *clrIfActive="true">
            <div class="card" style="min-height:255px;"
              [ngClass]="{'lock-div': !editAfterApprove && isUpdate && purchaseOrderStatus === 'APPROVED'}">
              <div class="card-block">

                <div class="form-group">
                  <label for="chief_fullname"> ชื่อหัวหน้าเจ้าหน้าที่<span class="text-danger">*</span></label>
                  <div class="row">
                    <div class="col-md-12">
                      <po-select-officer [selectedId]="chiefId" officerTypeCode="CHIEF"
                        (onChange)="changeOfficer($event)" style="width: 100%;"></po-select-officer>
                    </div>
                    <!-- <div class="col-md-1">
                      <div class="checkbox">
                        <clr-checkbox name="showChief" [(ngModel)]="showChief" [clrChecked]="showChief"></clr-checkbox>
                      </div>
                    </div> -->
                  </div>
                </div>

                <div class="form-group">
                  <label for="buyer_fullname"> ชื่อเจ้าหน้าที่<span class="text-danger">*</span></label>
                  <div class="row">
                    <div class="col-md-12">
                      <po-select-officer officerTypeCode="BUYYER" [selectedId]="buyerId"
                        (onChange)="changeOffice($event)" style="width: 100%;"></po-select-officer>
                    </div>
                    <!-- <div class="col-md-1">
                      <div class="checkbox">
                        <clr-checkbox name="showBuyer" [(ngModel)]="showBuyer" [clrChecked]="showBuyer"></clr-checkbox>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="form-group">
                  <label class="required" for="staff_receive_fullname"> เจ้าหน้าที่พัสดุ<span
                      class="text-danger">*</span></label>
                  <div class="row">
                    <div class="col-md-12">
                      <po-select-officer officerTypeCode="STAFF_RECEIVE" [selectedId]="supplyId"
                        (onChange)="changeOffices($event)" style="width: 100%;"></po-select-officer>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="required"> หัวหน้ากลุ่มงาน<span class="text-danger">*</span></label>
                  <div class="row">
                    <div class="col-md-12">
                      <po-select-officer officerTypeCode="HEAD" [selectedId]="headId"
                        (onChange)="changeOfficeHeadId($event)" style="width: 100%;"></po-select-officer>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="required" for="staff_receive_fullname">ผู้อำนวยการ<span
                      class="text-danger">*</span></label>
                  <div class="row">
                    <div class="col-md-12">
                      <po-select-officer officerTypeCode="MANAGER" [selectedId]="managerId"
                        (onChange)="changeManager($event)" style="width: 100%;"></po-select-officer>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="required" for="verify_committee_id">กรรมการตรวจรับ
                    <span class="text-danger">*</span>
                  </label>
                  <po-select-committee [selectedId]="verifyCommitteeId" style="width: 100%;"
                    (onChange)="changeCommittee($event)"></po-select-committee>
                </div>
                <div [ngClass]="{'hidden':verifyCommitteeId!=0}">
                  <ol>
                    <li> ประธาน
                      <app-search-people [disabled]="verifyCommitteeId != 0" #searchPeople1
                        (onChange)="onChangePeople($event,1)" (onSelect)="onSelectPeople($event,1)"
                        style="width: 100%;"></app-search-people>
                    </li>
                    <li> กรรมการ
                      <app-search-people [disabled]="verifyCommitteeId != 0" #searchPeople2
                        (onChange)="onChangePeople($event,2)" (onSelect)="onSelectPeople($event,2)"
                        style="width: 100%;"></app-search-people>
                    </li>
                    <li> กรรมการ
                      <app-search-people [disabled]="verifyCommitteeId != 0" #searchPeople3
                        (onChange)="onChangePeople($event,3)" (onSelect)="onSelectPeople($event,3)"
                        style="width: 100%;"></app-search-people>
                    </li>
                  </ol>
                </div>
                <div *ngIf="verifyCommitteeId != 0">
                  <ol>
                    <li *ngFor="let p of committeeSelected">
                      <span>
                        {{p.fullname}} ( {{p.cp_position_name}} )
                      </span>
                      <small style="display:block;margin-top:-5px;padding:0 0 0 7px;">
                        <i> {{p.position_name}}</i>
                      </small>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>อื่นๆ</button>
          <clr-tab-content id="tab-detail-2" *clrIfActive>

            <div class="row" style="padding-top:20px;">

              <div class="col-md-6">
                <div class="card">
                  <div class="card-block">
                    <section class="form-block">
                      <div class="form-group row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                          <label for="gForm_1">เลขที่โครงการ</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                          <input class="form-control" type="text" id="egpId" name="egpId" pattern="[0-9]+"
                            [(ngModel)]="egpId" placeholder="">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                          <label for="gForm_1">เลขที่คุมสัญญา</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                          <input type="text" class="form-control" id="vendorContactName" name="vendorContactName"
                            [(ngModel)]="vendorContactName">
                        </div>
                      </div>
                      <!-- <div class="form-group row">
                        <label for="gForm_1">ที่อยู่สำหรับจัดส่ง</label>
                        <textarea rows="1" class="form-control" id="shipTo" name="shipTo"
                          [(ngModel)]="shipTo"></textarea>
                      </div> -->
                    </section>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card">
                  <div class="card-block">
                    <label for="noteToVender">หมายเหตุถึงผู้จำหน่าย</label>
                    <textarea rows="1" class="form-control" id="noteToVender" name="noteToVender"
                      [(ngModel)]="noteToVender"></textarea>
                    <label for="comment">หมายเหตุถึงคลังสินค้า</label>
                    <textarea rows="1" class="form-control" id="comment" name="comment"
                      [(ngModel)]="comment"></textarea>
                  </div>
                </div>
              </div>
            </div>

          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink>ประวัติการตัดงบ</button>
          <clr-tab-content *clrIfActive>
            <po-transaction-history [budgetDetailId]="budgetDetailId"></po-transaction-history>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
    <div class="col-md-6">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>รายละเอียดการใช้งบ/มูลค่าจัดซื้อ</button>
          <clr-tab-content *clrIfActive>
            <div class="row">
              <div class="col-md-6">
                <po-budget-remain #budgetRemainRef [contractId]="contractId" [purchaseOrderId]="purchaseOrderId"
                  (onCalculated)="onBudgetCalculated($event)" [purchaseAmount]="totalPrice"
                  [budgetDetailId]="viewBudgetDetailId" [budgetYear]="budgetYear"></po-budget-remain>
              </div>
              <div class="col-md-6">
                <div class="card" style="height:299px;">
                  <div class="card-block"
                    [ngClass]="{'lock-div': !editAfterApprove && isUpdate && purchaseOrderStatus === 'APPROVED'}">
                    <form class="compact box-pricing" style="margin-top:0px;padding-top:0;">
                      <section class="form-block" style="margin-top:0px;">
                        <div class="form-control" style="height:24px; line-height:24px; margin-top:5px;">
                          <label for="excludeVat">
                            <input type="checkbox" id="isBeforeVat" name="excludeVat" [(ngModel)]="excludeVat"
                              (change)="checkVat('excludeVat')">
                            ถอดภาษี</label>
                          <label for="addVat" style="margin-left:20px;">
                            <input type="checkbox" id="isAddVat" name="addVat" [(ngModel)]="addVat"
                              (change)="checkVat('addVat')">
                            เพิ่มภาษี</label>
                          <!-- <div class="form-control" style="height:24px; line-height:24px; margin-top:5px;"></div> -->
                        </div>

                        <div class="form-group">
                          <label for="subTotal">ราคารวม</label>
                          <input type="text" class="form-control text-primary" id="subTotal" name="subTotal"
                            value="{{subTotal | number:'1.2-2'}}" disabled>
                        </div>

                        <div class="form-group">
                          <label for="discountPercent" style="width: 90px;">ส่วนลด ( % )</label>
                          <div class="inline-box">
                            <input type="number" min="0" max="100" style="width:30%" id="discountPercent"
                              name="discountPercent" [(ngModel)]="discountPercent" (keyup)="calAmount()"
                              (change)="calAmount()">
                            <input type="text" id="discountPercentAmount" style="width:70%" name="discountPercentAmount"
                              value="{{discountPercentAmount | number:'1.2-2'}}" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="discountCash" style="width: 90px;">ส่วนลด ( บาท )</label>
                          <input type="text" class="form-control text-primary" id="discountCash" name="discountCash"
                            [(ngModel)]="discountCash" (keyup)="calAmount()">
                        </div>
                        <div class="form-group">
                          <label for="vatRate">ภาษี ( % )</label>
                          <div class="inline-box">
                            <input type="number" [disabled]="!excludeVat&&!this.addVat" min="0" max="100"
                              style="width:30%" id="vatRate" name="vatRate" [(ngModel)]="vatRate" (keyup)="calAmount()"
                              (change)="calAmount()">
                            <input type="text" class="" id="vat" name="vat" style="width:70%"
                              value="{{vat | number:'1.2-2'}}" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="totalPrice">ราคารวมสุทธิ</label>
                          <input type="text" class="form-control text-primary" id="totalPrice" name="totalPrice"
                            value="{{totalPrice | number:'1.2-2'}}">
                        </div>
                      </section>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </clr-tab-content>
        </clr-tab>

      </clr-tabs>
    </div>
  </div>

  <hr class="hr">

  <div class="text-right">
    <button type="button" [disabled]="isUpdate" (click)="reset()" class="btn btn-outline-danger btn-sm">
      <clr-icon shape="refresh"></clr-icon> รีเซ็ต
    </button>
    <button [disabled]="disableSave() || isSaving" type="button" (click)="save()" class="btn btn-sm btn-success">
      <clr-icon shape="floppy"></clr-icon> บันทึก
    </button>
    <button type="button" (click)="cancel()" class="btn btn-danger btn-sm">
      <clr-icon shape="home"></clr-icon> กลับหน้าหลัก
    </button>

  </div>

</div>
<app-html-preview #htmlPrview></app-html-preview>

<app-modal-loading #modalLoading></app-modal-loading>
