<div style="position:relative">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="javascript://" routerLink="/">หน้าหลัก</a>
    <span class="breadcrumb-item active">ใบสั่งซื้อ</span>
    <span style="margin-left: 2%; font-size:20px; font-weight:bold;">{{purchaseOrderNumber}}</span>
    <span style="margin-left:35px">
      <app-order-status [status]="purchaseOrderStatus"></app-order-status>
    </span>
    <span style="float:right;">
      <span>ราคารวมสุทธิ</span>
      <span style="margin:10px;font-size:20px;font-weight:bold;" class="text-success">
        {{totalPrice | number: '1.2-2'}}
      </span>
    </span>
  </nav>

  <span *ngIf="contractId" class="label label-info">เลขที่สัญญา:
    <strong>{{contractId}}</strong>
  </span>
  <small class="p5" *ngIf="holidayText">
    <clr-icon shape="info-standard"></clr-icon> {{holidayText}}</small>

  <!-- <div class="payment">
    <div class="form form-group">
      <label for="">ราคารวมสุทธิ</label>
      <input type="text" class="text-success" readonly value="{{total_price | number: '1.2-2'}}">
    </div>
  </div> -->

  <form>
    <div class="card">
      <div class="card-block form-fid">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="purchaseOrderBookNumber">เลขที่อ้างอิง</label>
              <input class="form-control" type="text" id="purchaseOrderBookNumber" name="purchaseOrderBookNumber" [(ngModel)]="purchaseOrderBookNumber"
                placeholder="เลขที่อ้างอิงหนังสือ...">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="nin">วันที่ออกใบสั่งซื้อ</label>
              <my-date-picker-th (dateChanged)="onDateChanged($event)" name="purchaseDate" [(ngModel)]="purchaseDate" [options]="myDatePickerOptions"
                required></my-date-picker-th>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="generic_type_id">ประเภท</label>
              <div class="select" style="width:100%">
                <select [disabled]="contractId" #selectGenericTypeId id="genericTypeId" name="genericTypeId" [(ngModel)]="genericTypeId"
                  (change)="onChangeGenericType(selectGenericTypeId.value)">
                  <option> กรุณาเลือก...</option>
                  <option *ngFor="let p of productType" [value]="p.generic_type_id">{{ p.generic_type_name }}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label style="width: 120px;" class="required" for="labeler_id">ผู้จำหน่าย</label>
              <!-- <app-search-labeler style="width:100%" (onSelected)="onLabelerSelected($event)" [labelerName]="labelerName"></app-search-labeler> -->
              <po-search-vendor #searchVendor (onChange)="onChangeVendor($event)" (onSelect)="onSelectVendor($event)" style="width: 100%;"></po-search-vendor>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="budgetTypeId">ประเภทงบประมาณ</label>
              <po-select-budget style="width: 100%;" (onChange)="onChangeBudgetType($event)"></po-select-budget>
              <!-- <div class="select" style="width:100%">
                <select [disabled]="isContaract()" #selectBudgettypeId id="budgettype_id" name="budgettype_id" [(ngModel)]="budgettype_id"
                  (change)="onChangeBudgetTypeId(selectBudgettypeId.value)">
                  <option> กรุณาเลือก...</option>
                  <option *ngFor="let b of budgetTypes" [value]="b.bgtype_id">{{ b.bgtype_name }}</option>
                </select>
              </div> -->
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="budget_detail_id">งบประมาณย่อย</label>
              <po-select-sub-budget (onChange)="onChangeSubBudget($event)" [disabled]="contractId" style="width: 100%;" #subBudgetList
                [year]="budgetYear" [budgetTypeId]="budgetTypeId"></po-select-sub-budget>
              <!-- <div class="select" style="width:100%">
                <select [disabled]="isContaract()" id="budget_detail_id" name="budget_detail_id" [(ngModel)]="budget_detail_id" (change)="onChangeBudgetSoruce($event)">
                  <option> กรุณาเลือก...</option>
                  <option *ngFor="let b of budgets" [value]="b.bgdetail_id">{{ b.bgtypesub_name }}</option>
                </select>
              </div> -->
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="purchaseTypeId">รูปแบบการจัดซื้อ</label>
              <po-select-bid (onChange)="onChangePurchaseType($event)" style="width:100%"></po-select-bid>
              <!-- <div class="select" style="width:100%">
                <select [disabled]="isContaract()" #bidId id="purchase_type" name="purchase_type" [(ngModel)]="purchase_type" (change)="_getCommittee(purchase_type)">
                  <option> กรุณาเลือก...</option>
                  <option *ngFor="let p of bidType" [value]="p.bid_id">{{ p.bid_name }}</option>
                </select>
              </div> -->
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="purchaseMethodId">วิธีการจัดซื้อ</label>
              <po-select-bid-process (onChange)="onChangePurchaseMethod($event)" style="width: 100%;"></po-select-bid-process>
              <!-- <div class="select" style="width:100%">
                <select [disabled]="isContaract()" id="purchase_method" name="purchase_method" [(ngModel)]="purchase_method" (change)="onChangeBidAmount($event)">
                  <option> กรุณาเลือก...</option>
                  <option *ngFor="let p of bidProcess" [value]="p.id">
                    {{ p.name }} - วงเงิน {{p.f_amount | number:'1.0'}} บาท</option>
                </select>
              </div> -->
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label class="required" for="delivery">กำหนดส่งของภายใน</label>
              <div class="form-control flexbox">
                <input size="1" type="text" id="delivery" name="delivery" [(ngModel)]="delivery">
                <span>วัน</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <clr-datagrid class="grid-order" style="padding-top:15px;">
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">
          รายละเอียด
        </ng-container>
      </clr-dg-column>

      <clr-dg-column class="header-right" [style.width.px]="100">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          จำนวน Pack
        </ng-container>
      </clr-dg-column>

      <clr-dg-column class="header-right" [style.width.px]="150">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          ขนาดบรรจุ
        </ng-container>
      </clr-dg-column>

      <clr-dg-column class="header-right" [style.width.px]="120">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          รวม (Base Unit)
        </ng-container>
      </clr-dg-column>

      <clr-dg-column class="header-right" [style.width.px]="120">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          ราคาต่อขนาดบรรจุ
        </ng-container>
      </clr-dg-column>

      <clr-dg-column class="header-right" [style.width.px]="120">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          ราคารวม
        </ng-container>
      </clr-dg-column>
      <clr-dg-column [style.width.px]="100">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          ของแถม
        </ng-container>
      </clr-dg-column>
      <clr-dg-column [style.width.px]="120">
        #
      </clr-dg-column>
      <clr-dg-row *ngFor="let p of purchaseOrderItems; let idx=index;" [clrDgItem]="p">
        <clr-dg-cell>
          {{idx + 1}}. {{p.product_name}}
        </clr-dg-cell>
        <clr-dg-cell>
          <input type="text" name="qty" class="wm-edit-box-number" style="background-color: #FFF9C4" [value]="p.qty" #qty (keyup)="onChangeEditQty(qty.value, idx)"
            appNumberWithoutDot>
        </clr-dg-cell>
        <clr-dg-cell>
          <app-select-box-units [selectedId]="p.unit_generic_id" [genericId]="p.generic_id" (onChange)="onSelectedEditUnits($event, idx)"></app-select-box-units>
        </clr-dg-cell>
        <clr-dg-cell style="text-align: right;">{{p.qty * p.small_qty | number}}</clr-dg-cell>
        <clr-dg-cell>
          <input autocomplete="off" type="text" [value]="p.cost" name="cost" #cost class="wm-edit-box-number" style="background-color: #FFF9C4"
            appNumberOnly (keyup)="onChangeEditCost(cost.value, idx)">
        </clr-dg-cell>
        <clr-dg-cell style="text-align: right;">
          {{p.total_cost | number: '1.2-2'}}
        </clr-dg-cell>
        <clr-dg-cell style="text-align: center;">
          <div class="toggle-switch">
            <input autocomplete="off" type="checkbox" #giveaway id="giveaway-{{idx}}" name="giveaway" [checked]="p.is_giveaway === 'Y'"
              (change)="onChangeEditGiveaway(giveaway, idx)">
            <label for="giveaway-{{idx}}"></label>
          </div>
        </clr-dg-cell>
        <clr-dg-cell style="text-align: center;">
          <button class="btn btn-sm btn-danger wm-small-btn" (click)="removeProduct(idx)">
            <clr-icon shape="trash"></clr-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-row class="wm-add-row">
        <clr-dg-cell>
          <app-search-product-vendor [disabled]="!labelerId" #searchProductLabeler (onSelect)="productSearchSelected($event)" [labelerId]="labelerId"></app-search-product-vendor>
        </clr-dg-cell>
        <clr-dg-cell>
          <input type="text" name="qty" class="wm-edit-box-number" style="background-color: #FFF9C4" [(ngModel)]="selectedQty" appNumberWithoutDot>
        </clr-dg-cell>
        <clr-dg-cell>
          <app-select-box-units #selectBoxUnit (onChange)="onChangeUnit($event)"></app-select-box-units>
        </clr-dg-cell>
        <clr-dg-cell style="text-align: right;">{{selectedUnit.qty * selectedQty | number}}</clr-dg-cell>
        <clr-dg-cell>
          <input autocomplete="off" type="text" name="cost" class="wm-edit-box-number" style="background-color: #FFF9C4" [(ngModel)]="selectedCost"
            appNumberOnly>
        </clr-dg-cell>
        <clr-dg-cell style="text-align: right;">{{selectedCost * selectedQty | number: '1.2-2'}}</clr-dg-cell>
        <clr-dg-cell style="text-align: center;">
          <div class="toggle-switch">
            <input autocomplete="off" type="checkbox" id="giveaway" name="giveaway" [(ngModel)]="isGiveaway" (change)="onChangeGiveaway($event)">
            <label for="giveaway"></label>
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="btn-group">
            <button [disabled]="!selectedProduct.product_id || !selectedQty || !selectedCost || !selectedUnit.unit_generic_id" class="btn btn-sm btn-success wm-small-btn"
              (click)="addProductSelected()">
              <clr-icon shape="plus"></clr-icon>
            </button>
            <button [disabled]="!selectedProduct.product_id" class="btn btn-sm btn-danger wm-small-btn" (click)="removeSelected()">
              <clr-icon shape="trash"></clr-icon>
            </button>
          </div>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        จำนวนทั้งหมด
        <strong>
          <span class="badge"> {{purchaseOrderItems.length}}</span>
        </strong> รายการ
        <clr-dg-pagination #pagination [clrDgPageSize]="20"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>

  </form>

  <clr-tabs>
    <clr-tab>
      <button clrTabLink>รายละเอียด</button>
      <clr-tab-content id="tab-detail-1" *clrIfActive="true">
        <div style="padding-top:10px;">
          <div class="row">
            <div class="col-md-4">
              <div class="card" style="min-height:255px;">
                <div class="card-block">

                  <div class="form-group">
                    <label for="chief_fullname"> ชื่อหัวหน้างาน</label>
                    <po-select-officer [selectedId]="office" officerTypeId="3" (onChange)="changeOfficer($event)" style="width: 100%;"></po-select-officer>
                  </div>

                  <div class="form-group">
                    <label for="buyer_fullname"> ชื่อเจ้าหน้าที่</label>
                    <po-select-officer officerTypeId="4" [selectedId]="office1" (onChange)="changeOffice($event)" style="width: 100%;"></po-select-officer>
                  </div>

                  <div class="form-group">
                    <label class="required" for="verify_committee_id">กรรมการตรวจรับ
                      <span class="text-danger">*</span>
                    </label>
                    <po-select-committee [selectedId]="verifyCommitteeId" style="width: 100%;" (onChange)="changeCommittee($event)"></po-select-committee>
                  </div>
                  <ol>
                    <li *ngFor="let p of committeeSelected">
                      <span>
                        {{p.fullname}} ( {{p.cp_position_name}} )
                      </span>
                      <small style="display:block;margin-top:-5px;padding:0 0 0 7px;">
                        <i> {{p.position_name}}</i>
                      </small>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <po-budget-remain [purchaseOrderId]="purchaseOrderId" (onCalculated)="onBudgetCalculated($event)" [purchaseAmount]="totalPrice"
                [budgetDetailId]="budgetDetailId" [budgetYear]="budgetYear"></po-budget-remain>
            </div>
            <div class="col-md-4">
              <div class="card" style="min-height:255px;">
                <div class="card-block ">
                  <form class="compact box-pricing" style="margin-top:0px;padding-top:0;">
                    <section class="form-block" style="margin-top:0px;">
                      <div class="form-group">
                        <label for="excludeVat">
                          <input type="checkbox" id="isBeforeVat" name="excludeVat" [(ngModel)]="excludeVat" (change)="calAmount()"> ถอดภาษี</label>
                        <div class="form-control" style="height:24px; line-height:24px; margin-top:5px;"></div>
                      </div>

                      <div class="form-group">
                        <label for="subTotal">ราคารวม</label>
                        <input type="text" class="form-control text-primary" id="subTotal" name="subTotal" value="{{subTotal | number:'1.2-2'}}"
                          disabled>
                      </div>

                      <div class="form-group">
                        <label for="discountPercent" style="width: 90px;">ส่วนลด ( % )</label>
                        <div class="inline-box">
                          <input type="number" min="0" max="100" style="width:30%" id="discountPercent" name="discountPercent" [(ngModel)]="discountPercent"
                            (keyup)="calAmount()" (change)="calAmount()">
                          <input type="text" id="discountPercentAmount" style="width:70%" name="discountPercentAmount" value="{{discountPercentAmount | number:'1.2-2'}}"
                            disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="discountCash" style="width: 90px;">ส่วนลด ( บาท )</label>
                        <input type="text" class="form-control text-primary" id="discountCash" name="discountCash" [(ngModel)]="discountCash" (keyup)="calAmount()">
                      </div>
                      <div class="form-group">
                        <label for="vatRate">ภาษี ( % )</label>
                        <div class="inline-box">
                          <input type="number" [disabled]="!excludeVat" min="0" max="100" style="width:30%" id="vatRate" name="vatRate" [(ngModel)]="vatRate"
                            (keyup)="calAmount()" (change)="calAmount()">
                          <input type="text" class="" id="vat" name="vat" style="width:70%" value="{{vat | number:'1.2-2'}}" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="totalPrice">ราคารวมสุทธิ</label>
                        <input type="text" class="form-control text-primary" id="totalPrice" name="totalPrice" value="{{totalPrice | number:'1.2-2'}}">
                      </div>
                    </section>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button clrTabLink>อื่นๆ</button>
      <clr-tab-content id="tab-detail-2" *clrIfActive>

        <div class="row" style="padding-top:20px;">

          <div class="col-md-6">
            <div class="card">
              <div class="card-block">
                <div class="form-group">
                  <label for="purchase_order_book_number">เลขที่หนังสือ</label>
                  <input class="form-control" type="text" id="purchase_order_book_number" name="purchase_order_book_number" pattern="[0-9]+"
                    [(ngModel)]="purchase_order_book_number" placeholder="" required>
                </div>

                <div class="form-group">
                  <label for="egpId"> เลขที่ eGP</label>
                  <input class="form-control" type="text" id="egpId" name="egpId" [(ngModel)]="egpId" placeholder="" required>
                </div>


                <div class="form-group">
                  <label for="vendor_contact_name">ผู้ติดต่อ</label>
                  <input type="text" class="form-control" id="vendorContactCame" name="vendorContactName" [(ngModel)]="vendorContactName">
                </div>

                <div class="form-group">
                  <label for="ship_to">ที่อยู่สำหรับจัดส่ง</label>
                  <textarea rows="1" class="form-control" id="shipTo" name="shipTo" [(ngModel)]="shipTo"> </textarea>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-block">
                <label for="noteToVender">หมายเหตุถึงผู้จำหน่าย</label>
                <textarea rows="1" class="form-control" id="noteToVender" name="noteToVender" [(ngModel)]="noteToVender"> </textarea>
                <label for="comment">หมายเหตุถึงคลังสินค้า</label>
                <textarea rows="1" class="form-control" id="comment" name="comment" [(ngModel)]="comment"> </textarea>
              </div>
            </div>
          </div>
        </div>

      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button clrTabLink>ประวัติการสั่งซื้อ</button>
      <clr-tab-content id="tab-detail-3" *clrIfActive>
        <br>
        <orders-history #orderHistory></orders-history>
      </clr-tab-content>
    </clr-tab>

    <!-- <clr-tab>
      <button clrTabLink>ประวัติการตัดงบ</button>
      <clr-tab-content id="tab-detail-4" *clrIfActive>
        <br>
        <po-transaction-history [budgetDetailId]="budgetDetailId"></po-transaction-history>
      </clr-tab-content>
    </clr-tab> -->

    <!-- <clr-tab>
      <button clrTabLink>ประวัติการแก้ไข</button>
      <clr-tab-content id="tab-detail-5" *clrIfActive>
        <br>
        <app-transaction-po #transactionPo [purchaseOrderId]="purchase_order_id"></app-transaction-po>
      </clr-tab-content>
    </clr-tab> -->
  </clr-tabs>

  <hr class="hr">

  <div class="text-right">
    <button type="button" [disabled]="isUpdate" (click)="reset()" class="btn btn-outline-danger btn-sm">
      <clr-icon shape="refresh"></clr-icon> รีเซ็ต</button>
    <button [disabled]="disableSave() || isSaving" type="button" (click)="save()" class="btn btn-sm btn-success">
      <clr-icon shape="floppy"></clr-icon> บันทึก</button>
    <button type="button" (click)="cancel()" class="btn btn-danger btn-sm">
      <clr-icon shape="home"></clr-icon> กลับหน้าหลัก</button>

  </div>

  <!-- <app-products-select #productsSelect (onSelectedChange)="onSelectedProduct($event)" (onMultiSelectedChange)="onMultiSelectedProduct($event)">
  </app-products-select> -->
</div>
<app-html-preview #htmlPrview></app-html-preview>

<app-modal-loading #modalLoading></app-modal-loading>