.main-container .content-container .content-area {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 5px 5px 5px 15px;
}

.datagrid {
    margin-top: 0;
}

.card {
    margin-top: 10px;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.breadcrumb {
    padding: 0.5rem 0.5rem;
    list-style: none;
    background-color: #eceeef;
}

.breadcrumb::after {
    display: block;
    content: "";
    clear: both;
}

.breadcrumb-item {
    float: left;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #636c72;
    content: "/";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #636c72;
}

.drag-n-drop-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 200px;
    padding: 5px;
    border: 2px dashed rgb(0, 106, 145);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.drag-n-drop-container h1 {
    font-weight: bold;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #DD0A31;
    margin-top: 5px;
}

.upload-button {
    width: 200px;
    display: block;
    outline: none;
    border-radius: 10px;
    background: #DD0A31;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 10px 50px;
    border: 1px solid #DD0A31;
    margin: 20px auto 0;
}

.hidden {
    display: none;
}

.datagrid .datagrid-row-actions clr-icon {
    height: 14px;
    vertical-align: middle;
}

form .form-group {
    margin-bottom: 0px;
}

chart {
    display: block;
    padding: 10px;
}

.datagrid-cell .btn.btn-link {
    margin: 0;
    padding: 0;
}

.form-fid .form-group {
    padding-left: 130px;
}


/* remove border-top in datepicker*/

.form-fid .form-group .mydp {
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 1px solid #9a9a9a;
}

.form-fid .form-group .selbtngroup,
.form-fid .form-group .selectiongroup input {
    height: 24px!important;
}


/* 
form .form-group.form-fid,
.form .form-group.form-fid {
    padding-left: 130px;
}

.form-fid .form-group {
    padding-left: 130px;
}

.form-fid .form-group>label {
    width: 130px!important;
}

.form-fid .form-group>input {
    color: #565656;
    margin-top: 0!important;
    margin-bottom: 0!important;
}



.form-fid .form-group .mydp {
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 1px solid #9a9a9a;
}

.form-right .form-group>input {
    text-align: right;
}

@media screen and (max-width: 544px) {
    form .form-group.form-fid,
    .form .form-group.form-fid,
    .form-fid .form-group {
        padding-left: 0;
    }
} */

.hr {
    border-top: 1px solid #e4e4e4;
    border-bottom: none;
    margin-top: 15px;
}

.box-discount label {
    font-size: 12px;
}

.payment input[type=text],
.box-discount input[type=text],
.box-discount input[type=number] {
    text-align: right;
}

.box-discount input[type=number] {
    color: #A32100;
}

.payment {
    position: absolute;
    right: 0px;
    top: -12px;
    width: 280px;
    height: 50px;
}

.payment input {
    font-weight: bold;
    width: 170px;
    float: right;
    font-size: 25px;
}

form.box-pricing .form-group {
    padding-left: 100px;
}

form.box-pricing .inline-box {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

form.box-pricing input {
    text-align: right;
    font-weight: bold;
}

.datagrid input[type=text] {
    border-bottom: none;
    margin: 0;
}

.grid-order .datagrid .select select {
    border-bottom: none;
}

.grid-order .datagrid .datagrid-cell {
    padding: 5px 10px 5px 10px;
    line-height: 25px;
}

.header-right .datagrid-column-flex>.datagrid-column-title {
    text-align: right;
}

.grid-input {
    background-color: #ffffe9!important;
    border: 1px solid #f3f3f3!important;
}

.wm-small-btn {
    min-width: 0px;margin: 0 0px 0 0;
  }
  
  .wm-overall-row {
    border-bottom: 2px solid #007CBB; 
    background-color: #E1F1F6;
  }
  
  .wm-edit-box-number {
    width: 100%;
    text-align: right;
    }

  .wm-add-row {
    border-top: 2px solid #60B515; 
    background-color: #DFF0D0;
  }
  
  .clr-vertical-nav {
      background-color: #eceeef;
  }
  
  .wm-edit-box-number {
      width: 100%;
      text-align: right;
  }
  
  .wm-select-noline {
      border-bottom: 0
  }
  
app-modal-loading .modal-backdrop {
    background-color: transparent;
}
